/* Ingresa tu css aqui */
#logo{display: block;
	margin: auto;
	width: 75%;
}
ul {margin: 3% 0;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2%;
}
li{text-decoration: none;
	display: inline-block;
	padding: 0 5%;
	font-family: Arial;
}
.grupal{margin-bottom: 5%;
}

hr{display: block;
	background-color: black;
	height: 5px;
	width: 5% ;
	margin: auto;  
}
.info{text-align: center;
		margin: 3%;
		font-size: 1.5em;
}
h3{font-family: helvetica;
}
.izq{margin-left: 0;
}
a{ text-decoration: none;  
}
.profile{
	position: relative;
	display: block;
	margin: auto;
}
.nombre{color: white;
	font-family: helvetica;
	position: absolute;
	top: 180px;
	left: 80px;
}

/*perfil coder*/
.marco{
border: solid 1px gray;
padding: 3%;
}
#mariana{
width: 200px;
height: 200px;
border-radius: 100%;
display: block;
margin: auto;}
h2{
text-align: center;
margin: 5%;
}
#info{
text-align: center;
}
h3{
margin: 3% 0;
}
.habilidades{
background-color: lightsalmon;
margin: 1%;
padding: 1%;
font-family: Arial;
}
#html{
width: 80%;
}
#css{
width: 60%;
}
#js{
width: 30%;
}
.fotosp{
padding: 3%;
}